@font-face {
    font-family: 'AmazonEmberLt';
    src: url('/css/fonts/AmazonEmber_Lt.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AmazonEmberBd';
    src: url('/css/fonts/AmazonEmber_Bd.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AmazonEmberRg';
    src: url('/css/fonts/AmazonEmber_Rg.ttf');
    font-weight: normal;
    font-style: normal;
}

*|* {
    font-family: AmazonEmberBd, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
:root{
    --nav-bg-color: rgb(0, 58, 113);
    --nav-text-color: #f6f6f6;
    --nav-link-hover-color: #2d3af9;
}

.logo_container{
    font-size: 1.75rem;
    font-weight: bold;
    padding-block: 0.25rem;
}
.logo_container a{
    text-decoration: none;
    color: white;
}
.logo_container > img{
    height: 4rem;
    padding-inline: 1rem;
}

.nav_container { /*Este es el del display flex*/
    position: fixed;
    top:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    z-index: 1000;

}

.primer-navbar {
    display: flex;
    flex-wrap: wrap;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 95%;
    z-index: 2;
    padding-inline: 2.5%;
    padding-top: 0.5rem;
}



.nav_list {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
}

.dropdown {
    padding-inline: 1rem;
    display: none;
}
.dropdown >span:hover{
    cursor: pointer;
}
.dropdown > span{
    transform: scaleY(0.95);
}

.nav_list > li {
    display: inline;
    transform: scaleY(0.95);
    text-align: center;
}

.nav_list > li > a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding-block: 0.75rem;
    padding-inline: 0.5rem;
    font-size: 16px;
}
.nav_list > li > form > button {
    background-color: var(--nav-bg-color);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    font-size: 16px;
}

.nav_list > li > a:hover, .nav_list > li > form > button:hover {
    border-radius: 5px;
    background-color: var(--nav-link-hover-color);
    cursor: pointer;
}

.search_bar > form {
 
    display: flex;
    
}
.search_bar {
    flex-grow: 1;
    margin-inline: 3rem;
}

.search_bar > form > input {
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border-width: 0px;
    width: 100%;
    font-size: 0.8rem;

}

.buscar-icon {
    width: 16px;
    height: 16px;
    padding-inline: 1rem;
   
}

.buscar-button {
    border: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 0;
}
.buscar-button:hover {
    cursor: pointer;
    background-color: #b0b5ff;
}

@media (width < 750px) {
    .primer-navbar {
        justify-content: center;
    }
    .search_bar {
        margin-inline: 5%;
    }
}



.segundo-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 59);
    color: black;
}
.segundo-navbar > ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    flex-wrap: wrap;
}

.segundo-navbar > ul > li {
    text-decoration: none;
    padding-inline: 0.5rem;
}
.segundo-navbar > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-wrap: nowrap;
}

.segundo-navbar > ul > li > a:hover {
    color: rgba(67, 255, 42, 0.938);
}

.section-title {
    padding-left: 2.5%;
    font-weight: bold;
    font-size: 1rem;
    margin-block: 1rem;
}