.red {
    background-color: brown; 
}
.yellow {
    background-color: rgb(174, 174, 0);
}
.green {
    background-color: green;
}
.comentarios-wrapper {
    padding-inline: 5%;
    margin-bottom: 2rem;
}
.container-3{
    margin-bottom: 2rem;
}
.comentarios_box {
    height: 200px;
    flex: 1;
    overflow-y: scroll;
}
.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letra {
    color: white;
    font-size: 1.6rem;
}
.avatar_name_stars{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-bottom: 0.4rem;
}
.comentario_head_fecha {
    font-size: 0.7rem;
    color: rgb(48, 48, 48);
    text-align: end;
    margin-top: 0.4rem;
}

.name_stars {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.comentario_box {
    border-radius: 10px;
    font-size: 0.6rem;
    padding: 1rem;
}
.comentario_box_body {
    font-size: 1rem;
    color: rgb(68, 68, 68);
}
.comentarios_box_title {
    font-size: 1.5rem;
    text-align: start;
    font-weight: bold;
}

/*Contenedor del encabezado, el encabezado en si*/
.comentario_box_head {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comentario_box_head > * {
}
/*Contenedor de los circulitos*/
.comentario_head_calificacion {
    display: flex;
    gap: 2px;
    align-items: center;
}
/*Los circulitos*/
.star {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
}
@media (width < 500px) {
    .comentario_box_head { 
        flex-direction: column; 
    }
}


