

.container-3 {
    padding-inline:5%;
}
textarea {
    width: calc(100% - 1rem);

    height: 50px;
    resize: none;
    font-size: 1rem;
    border: 1px solid rgb(175, 175, 175);
    outline: none;
    padding: 0.5rem;
}

.calificacion_input > input {
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.write_comentario_button button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
}
.write_comentario_button button:hover {
    cursor: pointer;
    
}
.write_comentario_button {
    background-color: rgb(22, 0, 163);
    width: fit-content;
    padding: 0.2rem;
    margin-top: 0.2rem;
}

.calificacion_input{
    display: flex;
    flex-direction: column;
}
.calificacion_input input {
    outline: none;
    border: 1px solid rgb(158, 158, 158);
    padding: 0.5rem;
    width: calc(100% - 1rem);
}