.fullcontainer{
    display: flex;  
    padding-inline: 5%;
    padding-block: 2rem;
}

.product-name{
    font-size: 1.5rem;
}
.precio{
    color: rgb(229, 16, 16);
    font-weight: bold;
    font-size: 1.4rem;
}
.piezas {
    font-size: 0.8rem;
    color: rgb(240, 59, 59);
}